* {
  margin: 0;
}


html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: black;
}


a {
  color: white;
  text-decoration: none;
  list-style: none;
  display: block;
  padding: 11px;
}


a:hover {
  color: white;
}


hr {
  padding: 0px;
}


li {
  background-color: red;
  list-style: none;
  padding: 2px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}


li:hover {
  background-color:grey;
}


ul {
  padding: 0px;
  margin: -2px;
}


#filter-container {
  height: 100%;
  text-align: left;
  width: 340px;
  background-color: red;
  overflow: hidden;
  margin-top: -17px;
  padding-top: 15px;
}


#map {
  height: 120%;
  width: 110%;
  left: 300px;
  right: 0px;
  top: 60px;
  bottom: 5px;
  display: flex;
  position: absolute;
}


#title-bar {
  width: 100%;
  color: white;
  background-color: grey;
  z-index: 200;
  padding-bottom: 6px;
  padding-left: 10px;
  margin-left: 20%;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
}


#venue-website {
  color: red;
  padding: 0px;
}


@media  screen and (max-width: 550px){

  li {
    display: none;
    z-index: 1;
    left: 0px;
  }


  #filter-container {
    z-index: 1;
    width: 600px;
  }


  #map {
    overflow: visible;
    z-index: 100px;
    left: 0px;
  }


  #title-bar {
    font-size: 30px;
    width: 600px;
    margin-left: -5px;
  }
}
