html, body {
  height: 100%
  margin: 0;
  padding: 0;
}

#title-bar{
  width: 100%;

  z-index: 200;
  display: top: 10px;

}

#map {
  height: 100%;
    left: 300px;
    right: 0px;
    bottom: 0px;
    position: absolute;

}

#filter-container {
  height: 100%;
  text-align: left;
  width: 340px;
  overflow: hidden;
}

ul {
  padding: 0px;
}
li {
  background-color: white;
  list-style: none;
  padding: 2px;
  text-align: left;
 font-family: 'Montserrat', sans-serif;
}

li:hover {
  background-color:grey;
}


a {

  text-decoration: none;
  list-style: none;
  display: block;
  padding: 11px;
}

a:hover {
  color: white;
}
